<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Start Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item href="pages/home">Home</ion-item>
            <ion-item [routerLink]="['/categoriees']">Categories</ion-item>
            <ion-item href="pages/practiques">Practiques</ion-item>
            <ion-item [routerLink]="['pages/perfil']">Perfil</ion-item>
            <ion-item href="pages/login">Login</ion-item>
            <ion-item href="pages/avout">Avout</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>




<ion-router-outlet id="main"></ion-router-outlet>