<ion-header>
    <ion-toolbar>
        <ion-title>practiques</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list *ngFor="let newspracitques of practiques; let i = index">
                        <ion-item>
                            <ion-label>{{ newspracitques.titul }}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>



</ion-content>